/** @format */

th {
	width: 50px;
}

td > input {
	width: 100%;
}
.verticalText {
	writing-mode: vertical-rl;
	margin-top: 0;
}


.btnDelete{
	width: 100%;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	color: rgba(255, 0, 0, 0.555);
	padding: 8px;
	margin:0 ;
	transition: all .4s ease-in;
}

.tdBackground{
border: 1px solid #ffffff00 !important;
}

.error{
	font-size: 12px;
	font-weight: bold;
	color: rgba(255, 0, 0, 0.897);
	margin-top: -1rem;
}